
# Node.js CI/CD Pipeline for Azure App Service
trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
  # 1. Instalar Node.js
  - task: UseNode@1
    inputs:
      version: $(nodeVersion)
    displayName: 'Instalar Node.js'

  # 2. Instalar dependencias
  - script: |
      npm install
    displayName: 'Instalar dependencias'

  # 3. Construir el proyecto (si aplica)
  - script: |
      npm run build
    displayName: 'Construir proyecto'

  # 4. Ejecutar pruebas (opcional)
  - script: |
      npm test
    displayName: 'Ejecutar pruebas'

  # 5. Copiar archivos al directorio de artefactos
  - task: CopyFiles@2
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        **/*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
    displayName: 'Copiar archivos del proyecto'

  # 6. Comprimir archivos en ZIP para despliegue
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/nodejs-app.zip'
      replaceExistingArchive: true
    displayName: 'Crear archivo ZIP del proyecto'

  # 7. Publicar artefacto (opcional)
  - task: PublishPipelineArtifact@1
    inputs:
      artifactName: 'nodejs-app'
      targetPath: '$(Build.ArtifactStagingDirectory)'
    displayName: 'Publicar artefacto'

  # 8. Desplegar en Azure App Service
  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'ProjectMark353092'
      appName: 'utscmaestro2960'
      package: '$(Build.ArtifactStagingDirectory)/nodejs-app.zip'
